* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-basis: 268px;
  order: 0;
}

.menu-container {
  display: flex;
  flex-basis: 500px;
  order: 1;
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}

@media(min-width: 768px) {
  .menu-container {
    flex: 750px;
    justify-content: space-around;
  }
}