/*
 - Faça com que todos os itens de Listas Ordenadas tenham uma cor de fundo amarela. Se a numeração do item for PAR, faça a cor de fonte ser verde. Se o número for considerado primo, utilize a propriedade text-transform para deixar o texto maiúsculo. (Dica: combinar classes pode ser útil aqui).*/

 ol li {
   background-color: yellow;
   text-transform: uppercase;
 }
ol li:nth-child(even) {
  color: green;
}

ol li:nth-child(1), ol li:nth-child(2n+4){ /* caso a lista fosse aumentando  aumentaria para 3n+6 4n+8 5n+10 e assim por diante*/
  text-transform: none;
}

/*
 - Faça todas as tags Header (h1, h2...) possuírem cor de fonte vermelha e, se alguma delas estiver em itálico, aumente seu tamanho para 40px e acrescente uma borda de 1px preta e sólida.
 */
h1, h2, h3 {
  color: red;
}

h1, h2, h3 em {
  font-size: 40px;
  border: solid 1px black;
}
 /*
 - Faça todas as li's terem 20px de tamanho de fonte e, para todo texto em itálico dentro de alguma li, utilize a propriedade font-weight para deixá-lo negrito.
 */
li {
  font-size: 20px;
}
li em {
  font-weight: bold;
}
 /*
 - Na listagem de linguagens de programação, faça com que as 3 primeiras da lista possuam cor de fonte azul e, se alguma possuir "java*" no texto, utilize uma cor de fundo rosa.
 */
 ul:first-of-type li:nth-child(-n+3) {
   color:blue
 }

 ul:first-of-type li:nth-child(2),
 ul:first-of-type li:nth-child(3) {
  background-color: palevioletred;
 }
 /*
 - (Bônus) Para cada link na lista de aliados da pessoa desenvolvedora, faça com que ao passar o mouse sobre cada um, o texto fique em negrito e assuma a cor de fonte "temática do site"
  Dica 1: Utilize o seletor :hover para controlar o passar do mouse.
  Dica 2: Sugestão de cores padrão. StackOverflow (laranja), W3Schools (verde), MDN (preta), DevDocs (amarela), Trybe (verde).
*/

ul:last-of-type li:nth-child(1) a:hover{
  font-weight: bold;
  color: orangered
}

ul:last-of-type li:nth-child(2) a:hover{
  font-weight: bold;
  color: green
}

ul:last-of-type li:nth-child(3) a:hover{
  font-weight: bold;
  color:black
}
ul:last-of-type li:nth-child(4) a:hover{
  font-weight: bold;
  color:yellow
}
ul:last-of-type li:nth-child(5) a:hover{
  font-weight: bold;
  color:green
}
